/* Reset css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
}
main,
header,
section,
footer {
  width: 100%;
  position: relative;
}
section {
  margin-bottom: 120px;
}
html {
  height: 100%;
}

/* --- */
.page {
  width: 100%;
  position: relative;
}
header > div {
  width: 100%;
}
#close-top-btn {
  display: none;
}
#close-top-btn:checked + .top-wrapper {
  display: none;
}
.top-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Mask_group.jpeg");
  background-clip: border-box;
  background-size: cover;
}
.top-wrapper #close-top-label {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.top-popup {
  width: 100%;
  max-width: 1050px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-popup_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.top-popup_left p {
  color: white;
  font-size: 14px;
  font-weight: bolder;
}

.top-popup_left a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  color: var(--link-color);
  transition: color 200ms;
}
.top-popup_left a:hover {
  color: var(--link-color-active);
}
.top-popup_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.top-popup_right > div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.top-popup_right > div span {
  display: block;
}
.top-popup_right > div .top-popup_right_number {
  color: #61a473;
  font-weight: 700;
  font-size: 24px;
}

.top-popup_right > div .top-popup_right_label {
  font-weight: 400;
  font-size: 12px;
}

.container {
  width: 100%;
  padding: 0 100px;
}
/* header */
#header {
  max-width: 1620px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: auto;
}
#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
#header ul a {
  padding: 0 16px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  transition: color 200ms;
}
#header ul li {
  position: relative;
}
#header ul a:hover {
  color: var(--link-color-active);
}
#header ul li span {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 5px 6px;
  border-radius: 28px;
  font-size: 10px;
  transform: translateY(-75%);
  color: white;
}
.bg-red {
  background-color: rgba(201, 31, 40, 1);
}

.bg-green {
  background-color: rgba(141, 197, 61, 1);
}
.purchase-btn-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}
#purchase-btn {
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  background-color: var(--button-color);
  transition: background-color 200ms linear;
  cursor: pointer;
}

#purchase-btn:hover {
  background-color: var(--button-color-active);
}

#purchase-btn:last-child {
  font-weight: 600;
}

/* Banner section */
.banner-section {
  position: relative;
  height: 970px;
}

.container-banner {
  position: relative;
  height: 100%;
  display: flex;
  background-color: var(--bg-cream);
}

.container-banner .content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: white 0px 25px 65px inset, white 0px -32px 30px inset,
    white 0px 4px 6px inset, white 0px 12px 13px inset,
    white 0px -15px 25px inset;
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}

.container-banner .content-wrapper .content {
  /* padding-left: 140px; */
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 32px;
}
.content-wrapper .content h3 {
  font-size: 48px;
  white-space: nowrap;
  font-weight: 500;
}

.content-wrapper .content h3 p {
  color: black;
  font-weight: 900;
}

.special {
  color: transparent;
  font-weight: bolder;
  background: linear-gradient(
    160.18deg,
    #833ab4 12.29%,
    #fd1d1d 44.59%,
    #fcb045 78.25%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.content-wrapper .madeby {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  border-radius: 54px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  background-color: white;
  color: white;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 15px, rgba(0, 0, 0, 0.2) -5px -5px 15px;
}
.content-wrapper .madeby p {
  color: black;
  font-weight: 600;
  line-height: 20px;
}
.content-wrapper .madeby p span {
  font-weight: 400;
}
.content-wrapper .content > p {
  line-height: 28px;
}

.container-banner_left {
  height: 100%;
  position: relative;
}

.container-banner_left img {
  position: absolute;
}
.container-banner_left img:first-child {
  top: 140px;
  left: 0;
}
.container-banner_left img:last-child {
  bottom: 60px;
  right: 54px;
}

.container-banner_right {
  height: 100%;
  overflow: hidden;
}
.container-banner_right .marquee:nth-child(odd) {
  height: 100%;
  animation: marquee 16s linear infinite;
  will-change: transform;
  gap: 16px;
}
.container-banner_right .marquee:nth-child(2) {
  animation: marquee_reverse 32s linear infinite;
  transform: translateY(-170%);
  height: 100%;
  will-change: transform;
  gap: 16px;
}
.container-banner_right img {
  max-width: 100%;
  user-select: none;
  border-radius: 16px;
  padding: 10px;
}

@keyframes marquee {
  to {
    transform: translateY(-50%);
  }
}
@keyframes marquee_reverse {
  to {
    transform: translateY(0%);
  }
}

/* coach section */

.coach-section {
  height: 500px;
  position: relative;
}

.coach_back {
  position: absolute;
}
.coach_back:nth-child(1) {
  top: 0;
  left: 0;
  transform: translateY(-10%);
}
.coach_back:nth-child(2) {
  bottom: 0;
  right: 0;
  transform: translateY(100%);
}

.container-coach {
  padding: 0 246px;
}
.coach_left {
  position: relative;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  height: 496px;
  border-radius: 6px;
}
.coach_left_content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 6px);
  height: calc(100% - 8px);
  border-radius: 6px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coach_left_content img {
  width: 100%;
  transform: translateX(-70px);
}

.coach_right {
  color: black;
  padding: 70px 40px;
}
.coach_right .content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.coach_right .content h3 {
  font-size: 40px;
  font-weight: 500;
}

.coach_right .content p,
.content-wrapper .content p {
  line-height: 28px;
  color: #616161;
  white-space: nowrap;
}

/* reason section */

.reason-section {
  color: black;
}

.reason-title {
  text-align: center;
}

.reason-section h5 {
  text-transform: capitalize;
  color: var(--text-green);
  font-size: 20px;
  background: linear-gradient(
    52deg,
    rgba(255, 255, 28, 0.9) -7%,
    rgba(0, 195, 255, 0.9) 105.34%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 16px;
}

.reason-section h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.reason-section h3 span {
  color: var(--text-red);
}

.reason-items {
  padding: 0 45px;
  margin-top: 48px;
}
.reason-items img {
  width: 100%;
}
.reason-items h6 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
}
.reason-items p {
  text-align: center;
  color: var(text);
}

/* Demos-section */

.demos-section {
  background-color: var(--bg-cream);
}

.demos-header {
  color: black;
  text-align: center;
  position: relative;
}

.demos-header h3 {
  font-size: 128px;
  font-weight: 700;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 20px;
}
.demos-header h4 {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 40px;
}
.demos-header p {
  color: var(--text);
  margin-bottom: 64px;
}

.demos-header .demos-header-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.demos-header .demos-header-catalog a {
  text-decoration: none;
}

.demos-header img:nth-child(1) {
  top: 0;
  position: absolute;
  left: 243px;
}
.demos-header img:nth-child(2) {
  top: 254px;
  right: 122px;
  position: absolute;
}

.demos-content .demos-item {
  padding: 0 30px;
  margin-top: 64px;
}
.demos-content .demos-item img {
  width: 100%;
  height: 312px;
  object-position: top center;
}
.demos-content .demos-item .wrapper {
  padding: 16px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 32px;
  transition: transform 300ms;
}

.demos-content .demos-item .wrapper > div {
  position: absolute;
  top: 16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  opacity: 0;
  transition: opacity 300ms;
}
.demos-content .demos-item .wrapper:hover {
  transform: translateY(-20px);
}
.demos-content .demos-item .wrapper:hover > div {
  opacity: 1;
}

.demos-content .demos-item .wrapper > div * {
  text-align: center;
}
.demos-content .demos-item .wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.demos-content .demos-item .wrapper p span {
  background-color: white;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demos-content .demos-title {
  display: flex;
  justify-content: center;
}
.demos-content .demos-title a {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
}
.demos-content .demos-title a:hover {
  color: var(--text-red);
}
.demos-content .demos-title span {
  transform: translateX(100%) translateY(-50%);
}

/* Ecomposer section */

.ecomposer-section {
  color: black;
  font-weight: 400;
  background: url("./assets/ecomposer/background.png");
  background-position: right;
  background-attachment: fixed;
}

.ecomposer-section .ecomposer-header {
  text-align: center;
  margin-bottom: 64px;
}

.ecomposer-section .ecomposer-header h4 {
  font-size: 40px;
  color: #0db8d3;
}
.ecomposer-section .ecomposer-header h3 {
  font-size: 40px;
}
.container-ecomposer {
  max-width: 1430px;
  position: relative;
  margin: 0 auto;
}
.container-ecomposer .row {
  justify-content: center;
}
.ecomposer-video-wrapper {
  border-radius: 32px;
  background: linear-gradient(
    90deg,
    rgba(233, 86, 42, 0.9) 0%,
    rgba(199, 204, 48, 0.9) 50%,
    rgb(31, 233, 226) 100%
  );

  position: relative;
}
.ecomposer-video-wrapper img {
  width: 100%;
  border-radius: 32px;
  height: 100%;
  padding: 16px;
}

.ecomposer-video-wrapper a {
  width: 64px;
  height: 64px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.ecomposer-video-wrapper a span {
  color: red;
  font-size: 28px;
}

.ecomposer-footer {
  margin-top: 32px;
  text-align: center;
  font-weight: 400;
}

.ecomposer-footer h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.ecomposer-footer .ecomposer-searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ecomposer-footer .ecomposer-searchbox > form {
  background-color: white;
  width: fit-content;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2), -5px -3px 5px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 999px;
}
.ecomposer-footer .ecomposer-searchbox > form * {
  display: inline-block;
}
.ecomposer-footer .ecomposer-searchbox .input-border {
  background: linear-gradient(180deg, #a4e259 0%, #48cccc 100%);
  padding: 2px;
  border-radius: 999px;
  margin-right: 8px;
}
.ecomposer-footer .ecomposer-searchbox input {
  padding: 5px 24px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 999px;
  line-height: 18px;
  height: 46px;
  width: 420px;
}

.ecomposer-footer .ecomposer-searchbox button {
  border: none;
}

.ecomposer-dots {
  position: absolute;
}

.ecomposer-dots:nth-child(1) {
  top: 0;
  right: 0;
  transform: translateY(-50%);
}

.ecomposer-dots:nth-child(2) {
  top: 50%;
  left: 0;
}

.ecomposer-dots:nth-child(3) {
  bottom: 0;
  right: 0;
  transform: translateY(100%) translateX(-100%);
  z-index: -1;
}

/* Usefull section */

.useful-section {
  color: #293341;
  background-color: var(--bg-cream);
}
.useful-section .useful-header {
  text-align: center;
  position: relative;
  max-width: 1620px;
  width: 100%;
  margin: auto;
}

.useful-section .useful-header h4 {
  font-size: 40px;
  font-weight: 700;
}
.useful-section .useful-header p {
  color: var(--text);
  font-size: 14px;
  margin-bottom: 64px;
}
.useful-section .useful-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 8px;
  text-decoration: none;
}
.useful-header-icons {
  position: absolute;
}
.useful-header-icons:nth-child(1) {
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.useful-header-icons:nth-child(2) {
  right: 100px;
  transition: transform 3s linear;
  animation: rotate 3s linear infinite;
  transform: translateY(-50%);
}

.useful-header-icons:nth-child(3) {
  left: 30%;
  top: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.useful-items {
  padding: 0 30px;
  margin-top: 64px;
}
.useful-items-wrapper {
  padding: 16px;
  margin-bottom: 32px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 3px 2px 15px #d3d3d3a1, -3px -2px 15px #d4edd5a3;
}

.useful-items-wrapper img {
  border-radius: 6px;
  width: 100%;
}
.useful-items h4 {
  text-align: center;
  font-size: 20px;
}

/* Experience section */
.experi-section {
  color: black;
}
.experi-header {
  padding: 0 24px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.experi-header h4 {
  font-size: 40px;
}
.experi-header p {
  line-height: 28px;
}

.experi-icons {
  position: absolute;
}
.experi-icons:nth-child(1) {
  left: 40%;
  transform: translateY(-50%);
}
.experi-icons:nth-child(2) {
  right: 20%;
  top: 0;
  transform: translateY(-100%);
}
.experi-content .experi-items {
  position: relative;
  padding: 0 15px;
  margin-top: 30px;
}

.experi-content .experi-items.col-4 > div p {
  text-align: center;
  color: var(--text);
}
.experi-content .experi-items.col-8 > div,
.experi-content .experi-items.col-6 > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 54px;
}
.experi-content .experi-items.col-4 > div,
.experi-content .experi-items.col-6 > div.down {
  position: absolute;
  bottom: 0;
  left: 50%;
  top: unset;
  transform: translateY(-50%) translateX(-50%);
}
.experi-content .experi-items.col-8 h3 {
  font-size: 96px;
  font-weight: 900;
}
.experi-content .experi-items > img {
  width: 100%;
}
.experi-content .experi-items h4 {
  font-size: 32px;
  white-space: nowrap;
}
.experi-content .experi-items h4 div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/* Ready section */
.ready-section {
  color: var(--text);
  background-color: var(--bg-cream);
}

.ready-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  margin-top: 90px;
}
.ready-header h4 {
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 8px;
  line-height: 1;
  position: relative;
}
.ready-header h5 {
  font-size: 48px;
  color: black;
  margin-bottom: 16px;
}
.ready-header p {
  text-align: center;
}
.ready-header .ready-icons {
  position: absolute;
}
.ready-header .ready-icons:nth-child(1) {
  left: 15%;
  top: 20%;
}
.ready-header .ready-icons:nth-child(2) {
  right: 15%;
  bottom: 20%;
}
.ready-slides {
  margin-top: 90px;
  position: relative;
}
.ready-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: rgb(217, 222, 211) -20px -20px 50px inset,
    rgb(223, 236, 218) 20px 20px 50px inset;
}
.slide-wrapper {
  max-width: 100%;
  height: 340px;
  padding: 20px 0;
  overflow: hidden;
}
.slide {
  animation: marquee-horizal 16s linear infinite;
  gap: 32px;
  display: flex;
}
.slide.reverse {
  transform: translateX(-100%);
  animation: marquee-horizal-reverse 16s linear infinite;
}
.slide-wrapper img {
  height: 100%;
  box-shadow: 3px 2px 5px #d4ded4a6, -3px -2px 5px #def2dec2;
  border-radius: 8px;
}

@keyframes marquee-horizal {
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee-horizal-reverse {
  to {
    transform: translateX(0%);
  }
}

/* Header and footer */
.header-section h4 {
  margin-bottom: 16px;
  font-size: 40px;
  color: var(--text);
  text-align: center;
}
.header-section img {
  margin-top: 48px;
  width: 100%;
  box-shadow: rgba(216, 210, 210, 0.779) 2px 3px 5px,
    rgba(210, 203, 203, 0.275) -2px -3px 5px;
}

/* Videos section */
.videos-section {
  color: black;
}

.videos-header {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 64px;
}

.videos-section .video-item {
  padding: 0 12px;
}
.videos-section .video-item > div {
  position: relative;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  transition: box-shadow 0.2s;
}
.videos-section .video-item img {
  width: 100%;
  border-radius: 8px;
}

.videos-section .video-item a.tolink {
  font-size: 24px;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 600;
  margin-top: 24px;
}
.videos-section .video-item .video-img-wrapper a {
  display: block;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 999px;
  color: red;
}
.videos-section .video-item p {
  color: var(--text);
  line-height: 28px;
  padding-bottom: 24px;
}
.videos-section .video-item:hover > div {
  box-shadow: rgba(130, 120, 120, 0.416) 3px 2px 8px,
    rgba(130, 120, 120, 0.471) -3px -2px 8px;
}

.video-img-wrapper {
  position: relative;
  width: 100%;
}

/* Question section */
.question-section {
  background-color: var(--bg-cream);
}
.question-section h4 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 120px;
  color: black;
  padding-top: 120px;
}

.question-container .question-item {
  transition: all 0.2s linear;
  background-color: white;
  padding: 0 32px;
  color: black;
  position: relative;
  box-shadow: rgba(130, 120, 120, 0.416) 3px 2px 8px,
    rgba(130, 120, 120, 0.471) -3px -2px 8px;
  height: fit-content;
}
.question-item > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}
.question-item .header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.question-item .header > div span {
  font-size: 24px;
}
.question-item .question-content {
  width: 100%;
}
.question-item .question-content p {
  white-space: normal;
  padding: 32px 48px 72px 20px;
}
.question-container input {
  display: none;
}
.question-container input:not(:checked) + .question-item {
  background-color: transparent;
  box-shadow: unset;
  height: auto;
  padding-bottom: 24px;
}
.question-container input:not(:checked) + .question-item p {
  display: none;
}
.question-container input:not(:checked) + .question-item label span {
  transform: rotate(180deg);
}
/* Footer */

footer {
  width: 100%;
  background-image: url("./assets/footer-bg.png");
}
footer > div {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.footer-title {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}

.footer-title span {
  font-weight: 700;
  background: linear-gradient(
    120.18deg,
    #5bb43a 12.29%,
    #45fca7 78.25%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.criterias-wrapper,
.criteria {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.criterias-wrapper {
  gap: 72px;
}
.criteria {
  gap: 16px;
}
.criteria img {
  width: 24px;
  height: 24px;
}
.criteria span {
  font-size: 24px;
}

footer .btn.fill {
  background: linear-gradient(90deg, #acff71 0%, #48cccc 100%);
  height: 100%;
  padding: 20px 64px;

}
footer .btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}
footer .btn div span:nth-child(1) {
  font-size: 40px;
}
footer .btn div span:nth-child(2) {
  text-decoration: line-through;
}

footer .btn-normal {
  padding: 24px 64px;
  border-radius: 999px;
  border: 2px solid white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.fixed.btn {
  background: linear-gradient(90deg, #71ff92 0%, #48cccc 100%);
  position: fixed;
  z-index: 10 !important;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: normal;
  gap: 4px;
}
.fixed.btn span {
  font-weight: bold;

}