
.products-section .products-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    list-style: none;
    padding: 12px 0;
  }
  
  .products-section .products-header li a {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
}
  
  .products-section .products-header li a:hover,
  .products-section .products-header li a.active {
    color: black;
  }