@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  /* Coach section */
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* Coach section */
  .coach-section .coach_left {
    height: 396px;
  }

  .coach-section .coach_right {
    padding: 30px;
  }
  .coach-section .coach_right p {
    white-space: normal;
  }
  .coach-section .coach_right p br {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  /* Banner section */
  .banner-section .container-banner_left {
    position: absolute;
    left: -8%;
  }
  .banner-section .container-banner_right {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .banner-section .container-banner_right img {
    box-shadow: 2px 3px 6px var(--gray-100), -2px -3px 6px var(--gray-100);
  }
  .banner-section .content-wrapper {
    justify-content: center;
  }
  .banner-section .content-wrapper .content {
    justify-content: center;
    align-items: center;
  }
  .banner-section .content-wrapper .content p {
    text-align: center;
  }
  .banner-section .madeby {
    gap: 16px;
  }
  .banner-section .madeby p {
    line-height: 1.6;
  }
  .banner-section .coach_left_content {
  }

  /* Reason seciton */

  .reason-section .reason-items {
    width: 50%;
  }

  /* experiance section*/
  .experi-section .experi-header {
    display: block;
  }
  .experi-section .experi-header h4,
  .experi-section .experi-header p {
    text-align: center;
    width: 100%;
    white-space: normal;
  }
  .experi-section .experi-header h4 {
    line-height: 1.2;
    margin-bottom: 16px;
  }
  .experi-section .experi-header p br {
    display: none;
  }

  /* videos section */
  .videos-section p {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1620px;
  }

  /* COach section */
  .container-coach {
    max-width: 1410px;
  }
  .coach-section .coach_left_content img {
    width: 100%;
    transform: translateX(-70px);
  }
}
