:root {
  --link-color: rgba(141, 197, 61, 1);
  --link-color-active: rgba(201, 31, 40, 1);

  --button-color: rgba(201, 31, 40, 1);
  --button-color-active: rgba(141, 197, 61, 1);

  --bg-cream: #f4fff278;

  --text-green: #8dc53d;
  --text-red: #c91f28;
  --text: #616161;
}
a {
  text-decoration: none;
  color: black;
  transition: color 200ms;
}

a.tolink:hover {
  color: var(--text-red);
}
p{
    white-space: nowrap;
}

.sub-title {
  text-transform: capitalize;
  color: var(--text-green);
  font-size: 20px;
  background: linear-gradient(
    52deg,
    rgba(255, 255, 28, 0.9) -7%,
    rgba(0, 195, 255, 0.9) 105.34%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 16px;
}

.special {
    white-space: nowrap;
  color: transparent;
  font-weight: bolder;
  background: linear-gradient(
    160.18deg,
    #833ab4 12.29%,
    #b04f4f 44.59%,
    #fcb045 78.25%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

/* Common  */
.btn {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 32px;
  transition: all 200ms linear;
  cursor: pointer;
  border-radius: 54px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  background-color: var(--button-color);
  color: white;
}
.btn.lg {
    padding: 16px 64px;
}

.btn:hover {
  background-color: var(--button-color-active);
}

.btn-outline {
  border: 2px solid var(--button-color);
  color: var(--button-color);
  background-color: transparent;
}
.btn-outline:hover {
  background-color: var(--button-color);
  color: white;
}
.btn-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}
.btn-outline-white {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}
.btn.btn-outline-white:hover {
  background-color: var(--button-color);
  border-color: var(--button-color);
}

.rounded {
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.status-label {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 5px 6px;
  border-radius: 28px;
  font-size: 10px;
  transform: translateY(-75%);
  color: white;
}
