:root {
  --link-color: rgba(141, 197, 61, 1);
  --link-color-active: rgba(201, 31, 40, 1);

  --button-color: rgba(201, 31, 40, 1);
  --button-color-active: rgba(141, 197, 61, 1);

  --bg-cream: #f4fff278;

  --text-green: #8dc53d;
  --text-red: #c91f28;
  --text: #616161;

  --gray-100: #ccc;
}
